@if (User.IsInRole("Admin"))
{

    <li class="nav-item">
        <a class="nav-link" asp-area="Products" asp-controller="Genres" asp-action="Create">Create Genre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Products" asp-controller="Books" asp-action="Create">Create Book</a>
    </li>
}