@model GrabNReadApp.Web.Areas.Store.Models.Orders.OrderBaseViewModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>

<div class="row justify-content-around">
    <hr />
    <div class="col-md-3">
        <img src="/img/cart-with-books.jpg" style="width: 14rem;" />
    </div>
    <div class="col-md-9 text-center">
        <partial name="~/Areas/Store/Views/Purchases/_AllPurchasesPartial.cshtml" model="@Model.Purchases" />
    </div>
    <div class="col-md-11 mt-5">
        <partial name="~/Areas/Store/Views/Rentals/_AllRentalsPartial.cshtml" model="@Model.Rentals" />
    </div>
</div>
<hr />
<div class="row justify-content-center mt-3">
    <h2>Total Sum @Model.TotalSum BGN</h2>
</div>
<div class="row justify-content-center mt-3">
    <a class="btn btn-primary" asp-area="Store" asp-controller="Orders" asp-action="Order">Order</a>
</div>