@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="nav-link active eventures-bg-color logout-button" type="submit" value="Logout" />
            </form>
        </li>
    </ul>

}
