@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-8">
        <h1 class="text-danger text-center">Error</h1>
        <hr />
        <h2 class="text-center">An error occurred while processing your request.</h2>
        <h3 class="text-center mb-4">We apologize for the inconvenience! <img  height="20" src="https://cdn1.iconfinder.com/data/icons/emoticon-set-volume-4/512/emoticon-60-512.png"/> </h3>
        <hr />
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <h3>Development Mode</h3>
        <p>
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
    </div>
    <div class="col-md-4">
        <img height="350" src="https://ih1.redbubble.net/image.101121317.0149/pp,550x550.u2.jpg" />
    </div>
</div>
