<main>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group" id="myList" role="tablist">
                    @for(var i = 0; i < Model.Contests.Count(); i++)
                    {
                    { var contest = Model.Contests.ToList()[i]; }
                        <a class="list-group-item list-group-item-action list-group-item-dark" href="/Submissions/ByContestId?id=@contest.Id">@contest.Name</a>
                    }
                </div>
                <hr />
                <div class="col col-8 ml-auto mr-auto">
                    <a href="/Submissions/Create" class="btn col btn-outline-dark">Create</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="first-contest" role="tabpanel">
                        <ul class="list-group">
                            @if(Model.Submissions.Count() > 0)
                            {
                                @for(var i = 0; i < Model.Submissions.Count(); i++)
                                {
                                    { var submission = Model.Submissions.ToList()[i]; }
                                    @if(submission.IsSuccessful)
                                    {
                                        <li class="list-group-item list-group-item-success">Build Success</li>
                                    }
                                    @else
                                    {
                                        <li class="list-group-item list-group-item-danger">Build Failed</li>
                                    }
                                }
                            }
                            @else
                            {
                                <li class="list-group-item list-group-item-info">There are no submissions.</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>