@inject UserManager<ApplicationUser> UserManager
    
<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="jumbotron eventures-bg-color text-center">
            <h1>Welocome, @User.Identity.Name!</h1>
            <hr class="hr-grey" />
            <h4 class="h4-grey">Eventure wishes you an exciting experience.</h4>
        </div>
    </div>
</div>
