@model GrabNReadApp.Web.Areas.Evaluation.Models.Comments.CommentViewModel

<h4 class="text-center mt-4">What is your opinion about the book?</h4>
<div class="row justify-content-center">
    <span class="text-danger" id="validation"></span>
</div>

<form class="row form-inline justify-content-center mb-3">
    <input value="@User.Identity.Name" hidden id="username" />
    <input asp-for="BookId" hidden id="bookId" />
    <textarea asp-for="Content" class="form-control" id="content" placeholder="Your comment..."></textarea>
    <input type="button" value="Add" onclick="addComment(event)" class="btn btn-sm btn-primary ml-3">
</form>