@model GrabNReadApp.Web.Areas.Evaluation.Models.Comments.CommentViewModel

<h4 class="text-center mt-4">What is your opinion about the book?</h4>
<div class="row justify-content-center">
    <span class="text-danger" id="validation"></span>
</div>
<div class="row justify-content-center mb-4" id="test">
    <div class="col-md-10">
        <form class="form-inline">
            <input value="@User.Identity.Name" hidden id="username" />
            <input asp-for="BookId" hidden id="bookId" />
            <div class="form-group">
                <div class="col-1">
                    <label asp-for="Content" class="control-label mr-1"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Content" class="form-control" size="80" id="content" />
                </div>
            </div>
            <div class="form-group col-1">
                <input type="button" value="Add Comment" onclick="addComment(event)" class="btn btn-sm btn-primary">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function addComment(e) {
        e.preventDefault();

        var content = document.getElementById("content").value;
        var author = document.getElementById("username").value;
        var bookId = Number(document.getElementById("bookId").value);

        document.getElementById("validation").textContent = "";

        $.ajax({
            type: 'POST',
            url: '/Evaluation/Comments/Create',
            data: { content, bookId },
            success: function (response) {
                if (response.authorize === "Failed") {
                    location.href = "/Identity/Account/Login";
                }
                else if (response.bookValidation === "Failed") {
                    document.getElementById("validation").textContent = "There is no book with this id.";
                }
                else if (response.contentValidation === "Failed") {
                    document.getElementById("validation").textContent = "Comment must contain between 5 and 200 symbols.";
                }
                else {
                    var comment = '<blockquote class="blockquote">' +
                        `<p class="break-text mb-0">${content}</p>` +
                        '<footer class="blockquote-footer">by ' +
                        `<cite title="Comment Author">${author}</cite></footer></blockquote >`;

                    var d = document.createElement('div');
                    d.innerHTML = comment;

                    var comments = document.getElementById("newComment");
                    comments.insertBefore(d.firstChild, comments.firstChild);
                }
            },
            error: function (response) {
                alert("Аn error occurred while adding a comment.");
            }
        });

        document.getElementById("content").value = "";
    }
</script>