<div class="col-md-4">
    <form asp-action="Search" class="form-inline">
        <div class="form-group">
            <input name="bookTitle" class="form-control search-input" placeholder="Search book by title..." />
        </div>
        <div class="form-group">
            <button class="btn btn-primary search-btn" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>
