@using GrabNReadApp.Web.Areas.Products.Models.Books

@model AllBooksViewModel

@{
    ViewData["Title"] = "AllBooksByGenre";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1>Books</h1>
    </div>
    <partial name="~/Areas/Products/Views/Books/_SearchBoxPartial.cshtml" />
</div>

<hr />
<partial name="~/Areas/Products/Views/Books/_AllBooksPartial.cshtml" model="Model.Books" />

<div class="row justify-content-around">
    @Html.PagedListPager(Model.Books, pageNumber => Url.Action("AllByGenre", "Books", new { pageNumber, id = Model.GenreId }), new PagedListRenderOptionsBase()
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
        Display = PagedListDisplayMode.IfNeeded
    })
</div>

@if (!Model.Books.Any())
{
    <div class="text-center">
        <p><em>@Model.EmptyCollectionMessage</em></p>
    </div>
}
