@model GrabNReadApp.Web.Areas.Evaluation.Models.Ratings.UserVoteViewModel

<div class="col-3 rating-div text-center" onmouseout="unmarkStar(this)">
    <span class="text-danger" id="ratingValidation"></span>
    <h4>Star Rating</h4>
    <span class="fa fa-star rating-star" id="1" onmouseover="markStar(this)" onclick="vote(this)"></span>
    <span class="fa fa-star rating-star" id="2" onmouseover="markStar(this)" onclick="vote(this)"></span>
    <span class="fa fa-star rating-star" id="3" onmouseover="markStar(this)" onclick="vote(this)"></span>
    <span class="fa fa-star rating-star" id="4" onmouseover="markStar(this)" onclick="vote(this)"></span>
    <span class="fa fa-star rating-star" id="5" onmouseover="markStar(this)" onclick="vote(this)"></span>
    <span class="fa fa-star average mt-2">- average rating</span>
    <span class="fa fa-star selected ml-3"></span> - your rating
</div>

<script type="text/javascript">
    var bookId = @Model.BookId;
    var userVote = @Model.VoteValue;
    var averageRating = @Model.AverageRating;
</script>

<script src="~/Scripts/Evaluation/GetBookRating.js"></script>
<script src="~/Scripts/Evaluation/AddVote.js"></script>
<script src="~/Scripts/Evaluation/MarkAndUnmarkRatingStars.js"></script>