@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<h4 class="text-center">Associate your @ViewData["LoginProvider"] account.</h4>
<hr class="w-50 hr-blue hr-2" />

<p class="text-info text-center">
    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="label-center"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn eventures-bg-color">Register</button>
            </div>
        </form>
    </div>
</div>

