<h1 class="text-center">Login</h1>
<hr class="w-50 hr-blue hr-2"/>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label for="username" class="label-center">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username..." name="username">
                </div>
                <div class="form-group">
                    <label for="password" class="label-center">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
                </div>
                <hr class="hr-blue hr-2"/>
                <div class="form-group">
                    <label class="container text-center label-not-bold">
                        <input type="checkbox">
                        <span class="checkmark">Remember me?</span>
                    </label>
                </div>
                <hr class="hr-blue hr-2"/>
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn eventures-bg-color">Login</button>
                </div>
                <div class="form-group text-center">
                    <p>
                        <a href="#">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="/Account/Register">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>  
</div>
